<h1>Show Action</h1>

<p>
    Title: <%= @article.title %><br/>
    Description: <%= @article.description %>
</p>

<%= link_to "Edit this article", edit_article_path(@article) %>
<%= link_to "Back to articles listing", articles_path %>