<div>
    <footer class = "footer center">
        <p>&copy; There are no copyrights.
        This is a work of learning.
        I learnt it from others.
        When did this become mine?</p>
    </footer>
</div>